<h1>Better Volunteers, Inc.</h1>
<h5>Our slogan is: "It's better to be a volunteer, rather than a victim!"</h5>

<h3>Current projects</h3>

<% if @projects.any?  %>
<p>Click on a project to learn more about it:</p>
<ul>
  <% @projects.each do |project| %>
    <li><a href="/project/<%= project.id %>"><%= project.title %></a></li>
  <% end %>
</ul>
<% else %>
<p>We don't have any projects yet! Please add one below!</p>
<% end %>

<h3>Submit a new project</h3>
<h4>We're always looking for new projects! Please submit a suggested project below:</h4>

<form action="/" method="post">
  <label for="title">Assign a title to the project:</label>
  <input id="title" name="title" type="text">
  <button type="submit">Create Project</button>
</form>
